.description {
  padding: 10rem 0 10rem 0;
}

.row {
  padding: 1rem 1rem 1rem 1rem;
  justify-content: center;
}

.col {
  padding: 0.25rem 0.5rem 0.5rem 0.25rem;
}

.container {
  padding: 0.5% 0.5% 0.5% 0.5%;
  display: flex;
  align-items: center;
      justify-content: center
}

.img {
  justify-content: right;
  width: 40%;
 /* border: 5px solid #555555; */
}
.text {
  font-size: 20px;
  padding-left: 20px;
}
.midcol {
  padding-left: 5000px !important;
  padding-right: 500px !important;
  justify-content: left;
}

.ImageBorder
{
  border-width: 1px;
  border-color: rgb(30, 2, 1);
}

.frame {
width: 250px;
height: 250px; 
border: 7px solid #699A76;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

.image-text-wrapper {
display: flex;
}

  