/* textarea {
  border-style: none !important;
  padding: 10px 25px !important;
  resize: none;
  outline: 1px solid black;
} */

/* input {
  border-radius: 10px;
  outline: 1px solid black;
  border: none;
} */

.bottom-bar {
  background-color: #699a76;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
}

a {
  color: white;
}
