.text-logo {
  color: #699a76 !important;
}

#navbarText {
  display: flex;
  justify-content: space-between;
}

nav {
  margin: 0.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
  justify-content: space-between;
}

.navbar-nav {
  margin: 0px auto;
}

.nav-item {
  margin: 0px 10px;
}
